 body{

 	font-family: 'source sans pro';
 	margin: 0;

 }

 

a{
 	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6{
	
font-family: sans-serif;
color: #AFBF0F ;
}
nav{
	display: inline;
}
h1{

	line-height: 1.2em;
	font-size: 40px;
	color: white;
	justify-content: center;
	margin: 0;
}

h1 strong{
	color: #AFBF0F ;
}
h2{
	text-transform: uppercase; 
	font-weight: bold; 
	padding: 0 10px;
	text-align: center;
	background: #EAECEE;
	margin: 0px;
	padding: 28px;
}
.inicio{ 
	background-color: #1b2127; 
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: auto;
	flex-wrap: wrap;
}

 
.proyect{
	
/*border-width: 20px;
border-style: solid;
border-color:#AFBF0F;*/
width: 80%;
border-radius: 35px;
padding: 20px; 
background: white;
margin-bottom: 15px;
box-sizing: border-box; 
display: flex;   
align-items: center;
justify-content: space-between;
flex-wrap:wrap; 
-webkit-box-shadow: 3px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 6px 6px 18px 0px rgba(0, 0, 0, 0.49);
text-align: start;
}


 .proyect-title{
 	font-size: 30px;
 	margin-bottom: 10px;
 	margin-top: 0;
 }

.date,
.link,
.subtitulo{
 	 
 	margin: 10px 0px;
 }
.proyect strong{
	font-family: 'Fjalla One', Sans;
}
 

 .texto{
 	margin-top: 12px;
	 font-size: 20px;
	 margin-bottom: 25px;

 }

.proyect-imagen{
	display: block;
	width: 50%;  
}
 
.proyect-imagen img{
	max-width: 100%;
 
}
.proyect-details{
	
	width: 50%; 
	margin: -10px;

}

.header{
	background: #1b2127;
	color: white; 
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap; 
}
ol,
ul{
padding: 0px;
margin: 0px;
}
.menu{
	height: inherit; 
} 
.header ol{
	 
	height: inherit; 
	font-size: 20px;   
	display: flex;
	
	
}

.header ol li{
	display: flex;  
	
}

.header a{
	height: inherit;
	padding:0 10px; 
	color: white;  
}

figure{
	margin: 0px; 
}

.logo{ 
	margin: 10px 5px;
	padding: 10px;  
}

 
.porta{
background: #EAECEE;	
padding: 20px;  

}

 .footer{
 	color: white;
 	background-color: #1b2127;
 	display: flex; 
 	justify-content:  center;
	justify-content: space-around;
	flex-wrap: wrap;

 }

.contacto{

	background-color:  #AFBF0F;
	color: white ;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

}

.p{
	color: white ;
	padding-right: 10px;
	font-family: 'source sans pro';
	font-size: 20px;
}

.email input{

	border-color: gray;
	border-style: solid;
	border-radius: 10px;
	padding: 5px 10px;
	

}

button{
	background: transparent;
	background-color:#AFBF0F;
	border-radius: 5px;
}

.event-list{
	display: flex; 
	padding: 0 70px;
	flex-wrap: wrap; 
	background: #EAECEE;
	justify-content: center;


}
.event{
	display: flex;
	margin: 10px;
	width: 480px;
	border-radius: 20px ; 
	overflow: hidden;
	background:#1b2127;
	flex-shrink: 0;
	flex-wrap: wrap; 
}

.event img{

width: 480px; 
}

.event-detail{
 
margin: 20px 40px;
background-color: white; 
margin-top: -40px;
position: relative;
padding: 20px;
text-align: center;
}

.wraper{ 
	max-width: 2000px;
	flex: 1;
	margin:0 auto;
	display: inherit;
	justify-content: inherit;
	align-items: inherit;
	height: inherit;
	flex-wrap: inherit;
}

 
 